/*
  3x10.de
  © copyright 2018
  Design, Artwork and Code made with <3 by Lars Natus
*/

/* FONTS */

h1,
h2.x10-slogan {
  font-size: 3.6rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.2rem;
}

strong {
  font-weight: bolder;
}

/* COLORS */

.x10-cl-white {
  color: #FFF;
}

.x10-cl-red {
  color: #F21F2A;
}

.x10-cl-gray {
  color: #666;
}


/* BACKGROUNDS */

.x10-bg-black {
  background: #000;
}

.x10-bg-gray {
  background: #272727;
}

.x10-bg-red {
  color: #F21F2A;
}

/* SPACER */

.x10-sp-sm {
  margin-bottom: 15px;
}

.x10-sp-md {
  margin-bottom: 30px;
}

.x10-sp-lg {
  margin-bottom: 60px;
}

.x10-sp-xl {
  margin-bottom: 180px;
}

.x10-sp-xxl {
  margin-bottom: 360px;
}

/* GENERAL */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #FFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Barlow", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(-180deg, #272727 0%, #000000 100%);
}

a,
a:hover {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  font-size: 0.8rem;
  color: #666;
}

footer .x10-imp-ref {
  display: block;
  margin-top: 100px;
}

.x10 {
  padding: 60px;
}

/* COMPONENTS */

.x10-logo {
  width: 100px;
  margin-bottom: 30px;
}

.x10-accent-line {
  width: 100%;
  height: 15px;
  background: #F21F2A;
  border-radius: 10px;
}

.x10-construction {
  margin: 60px 0;
}

.x10-latest .x10-post {
  display: block;
  margin: 30px 0;
}

.x10-latest .x10-post p {
  margin: 0;
  text-align: justify;
}

.x10-latest .x10-post img {
  width: 100%;
  margin-bottom: 30px;
  border: 3px solid #FFF;
}

/* CTA */

.x10-cta {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  max-width: 500px;
  overflow: hidden;
  background: #FFF;
  margin-left: 30px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.x10-cta .x10-cta-head {
  padding: 30px;
  text-align: center;
  color: #FFF;
  font-size: 3rem;
  background-image: linear-gradient(-180deg, #272727 0%, #000000 100%);
}

.x10-cta .x10-cta-head img {
  height: 60px;
}

.x10-cta .x10-cta-head .fa-close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
}

.x10-cta .x10-cta-head .x10-divider {
  height: 5px;
  width: 100px;
  margin: 15px auto;
  background: #666;
}

.x10-cta .x10-cta-body {
  padding: 30px;
  text-align: center;
  color: #222;
}

.x10-cta .x10-cta-body h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

/*POST CONTENT */

.x10-post-content {
  margin: 30px 0;
}

.x10-post-content h1 {
  font-size: 2.4rem;
  margin-top: 30px;
}

.x10-post-content img {
  margin: 60px 0;
  border: 3px solid #FFF;
}

.x10-post-content p {
  text-align: justify;
}

/* ADS */

.x10-amz {
  margin: 30px 0;
  padding: 10px;
  color: #222;

  background: #FFF;
}

.x10-amz img {
  margin: 0;
  max-height: 100px;
}

.x10-amz a,
.x10-amz a:hover {
  color: #222;

}

.x10-amz .btn-amz {
  color: #222;
  background: #FD9827;
}

/* MEDIA */

@media (max-width: 575px) {
  h1,
  h2.x10-slogan {
    font-size: 2rem;
    text-align: center;
  }
  .x10 {
    padding: 15px 0;
  }
  .x10-cta {
    top: 15px;
    bottom: 0;
  }
 }

@media (max-width: 767px) {

}

@media (max-width: 991px) {
  .x10 {
    padding: 30px;
  }
  .x10-logo {
    width: 45px;
  }
}
